# Dependency directories
node_modules/

# IDE related
.idea

# Test coverage
coverage
*.lcov

# Optional eslint cache
.eslintcache

# dotenv environment variables file

# build output
.vercel

# OS-specific
.DS_Store

tmp

benchmarking/compare/.results
config.bat
